<md-toolbar mdDialogTitle="" color="primary">Login <span class="flex-spacer"></span>
  <button md-button mdDialogClose>&times;</button>
</md-toolbar>
<form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <md-dialog-content>
    <p>
      <md-input-container dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
        <input mdInput type="text"
               name="username"
               [(ngModel)]="user.username"
               #username="ngModel"
               placeholder="UserName"
               required>
        <md-hint>
          <span [hidden]="username.pristine">
          <span [hidden]="!username.errors?.required">username is required</span>
          </span>
        </md-hint>
      </md-input-container>
      <md-input-container dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input mdInput="" type="password"
               [(ngModel)]="user.password"
               name="password"
               #password="ngModel"
               placeholder="Password"
               required>
        <md-hint>
          <span [hidden]="password.pristine">
          <span [hidden]="!password.errors?.required">password is required</span>
          </span>
        </md-hint>
      </md-input-container>
      <md-checkbox [(ngModel)]="user.remember" name="remember"> Remember Me</md-checkbox>
    </p>
  </md-dialog-content>
  <md-dialog-actions>
    <span class="flex-spacer"></span>
    <button md-button mdDialogClose="">Cancel</button>
    <button type="submit" md-button [disabled]="loginForm.form.invalid"
            class="background-primary text-floral-white">Login
    </button>
  </md-dialog-actions>
</form>
