<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name|uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{_baseUrl+ dish.image}}" alt="{{dish.name|uppercase}}">
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <md-list>
      <h1 md-line>Comments</h1>
      <md-list-item *ngFor="let comment of dish.comments">
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} Starts</p>
        <p md-line>--{{comment.author}}{{comment.date|date}}</p>
      </md-list-item>
    </md-list>
    <form class="form-size" novalidate [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
      <md-list class="preview" *ngIf="commentForm.valid">
        <md-list-item>
          <p md-line>{{commentForm.value.comment}}</p>
          <p md-line>{{commentForm.value.rating}} Starts</p>
          <p md-line>--{{commentForm.value.author}}</p>
        </md-list-item>
      </md-list>
      <p>
        <!--author-->
        <md-input-container dividerColor="{{commentFormErrors.author?'warn':'primary'}}">
          <input mdInput type="text" formControlName="author" placeholder="Name" required>
          <md-hint>
          <span [hidden]="!(commentFormErrors.author)">
          {{commentFormErrors.author}}
          </span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <!--rating-->
        <md-slider min="1" max="5" step="1" value="5" formGroupName="rating" thumb-label="true" tick-interval="1"
                   formControlName="rating"></md-slider>
      </p>
      <p>
        <md-input-container dividerColor="{{commentFormErrors.comment?'warn':'primary'}}">
          <textarea mdInput rows="5" formControlName="comment" placeholder="Your Comment" required></textarea>
          <md-hint [hidden]="!(commentFormErrors.comment)">
            <span>{{commentFormErrors.comment}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">
        Submit
      </button>
    </form>

  </div>


</div>
