<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40">
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name|uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{dish.image}}" alt="{{dish.name|uppercase}}">
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40">
    <md-list *ngIf="dish">
      <h1 md-line>Comments</h1>
      <md-list-item *ngFor="let comment of dish.comments">
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} Starts</p>
        <p md-line>--{{comment.author}}{{comment.date|date}}</p>
      </md-list-item>
    </md-list>
    <!--TODO: reactive Form about comment
        1. angular material slider
        2. submit button check form valid
        3. hint error message bottom field
    -->
    <form class="form-size" novalidate [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
      <p>

        <!--author-->
        <md-input-container>
          <input mdInput type="text" formControlName="author" placeholder="Name" required>
          <!--<md-hint>-->
          <!--<span [hidden]="commentFormErrors.author">-->
          <!--{{commentFormErrors.author}}-->
          <!--</span>-->
          <!--</md-hint>-->
        </md-input-container>
      </p>
      <p>
        <!--rating-->
        <md-slider min="1" max="5" step="1" value="5" formGroupName="rating" thumb-label="true"></md-slider>
      </p>
      <p>
        <md-input-container>
          <textarea mdInput rows="10" formControlName="comment" placeholder="Your Comment" required></textarea>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">
        Submit
      </button>
    </form>

  </div>


</div>
